# eclipse support files
/.classpath
/.launch
/.project
/.settings
/.metadata
/*.launch
/*.tmproj
/ivy*
/eclipse

# idea support files
#/idea/


# logs

# build
/api/target/
/common/target/
/gen/target/
/shiro/target/
/web/target/
